.baggage-conditions {
    padding: 20px;
    font-family: Arial, sans-serif;
    height: auto;
    overflow: auto;

    .baggage-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

        h2 {
          font-size: 18px;
          color: #333;
          margin-bottom: 15px;
       }
      span{
        cursor: pointer;
      }
    }


    .weight-toggle {
        position: absolute;
        top: 20px;
        right: 20px;

        .toggle-btn {
            background-color: #ddd;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            &.active {
                background-color: rgb(252, 91, 28);
                color: white;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 15px;
        overflow: auto;


        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: #f0f0f0;
        }

        .info-link {
            color: blue;
            text-decoration: none;
        }
    }

    p {
        font-size: 12px;
        color: #666;
        margin-top: 0;
    }
}

table{
  overflow: auto;
}

