  <div class="cash-component" fxLayout="column">
    <div class="cash-content">


      <div class="add-form mb-3">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Add New Limitation </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
              <!-- Limit Type -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Limit Type</mat-label>
                <input matInput formControlName="limit_type" required>
                <mat-error *ngIf="dataForm.get('limit_type')?.invalid && dataForm.get('limit_type')?.touched">
                  Limit Type is required.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="restriction_Type">
                  <mat-option *ngFor="let type of restTypes" [value]="type">
                    {{ type }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field
              appearance="outline">
                <mat-label>
                  Apply To Destination
                </mat-label>
                <input
                  type="text"
                  matInput
                  [matAutocomplete]="departureAuto"
                  (input)="filterOptions($event, 'departure')"
                  style="font-size: 14px"
                  [formControlName]="'applies_To_Destination'"
                />
                <mat-autocomplete #departureAuto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of filteredDepartureOptions"
                    [value]="option.name + ' - ' + option.code"
                    (onSelectionChange)="selectOption(option.code, 'departure')"
                    style="font-size: 14px;"
                  >
                    {{ option.name }} - {{ option.code }}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

              <mat-form-field
                appearance="outline">
                  <mat-label>
                    Apply To Airline
                  </mat-label>
                  <input
                    type="text"
                    matInput
                    [matAutocomplete]="airlineAuto"
                    (input)="filterOptions($event, 'airline')"
                    style="font-size: 14px"
                    [formControlName]="'applies_To_Airline'"
                  />
                  <mat-autocomplete #airlineAuto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredAirlineOptions"
                      [value]="option.name + ' - ' + option.code"
                      (onSelectionChange)="selectOption(option.code, 'airline')"
                      style="font-size: 14px;"
                    >
                      {{ option.name }} - {{ option.code }}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>


              <!-- Effective From (Date Picker) -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Effective From</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="effective_from" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <!-- Effective To (Date Picker) -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Effective To</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="effective_to">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <!-- Min Value -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Min Value</mat-label>
                <input matInput type="number" formControlName="price_Range_From">
              </mat-form-field>

              <!-- Max Value -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Max Value</mat-label>
                <input matInput type="number" formControlName="price_Range_To">
              </mat-form-field>

              <!-- Submit Button -->
              <button mat-raised-button color="primary" type="submit" [disabled]="dataForm.invalid">Submit</button>
            </form>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="filters">
        <form [formGroup]="filterForm">
          <mat-form-field appearance="outline" style="margin-right: 10px;">
            <mat-label>Airline</mat-label>
            <input matInput type="text" formControlName="applies_To_Airline" placeholder="Airline">
          </mat-form-field>

          <mat-form-field appearance="outline" >
            <mat-label>Destination</mat-label>
            <input matInput type="text" formControlName="applies_To_Destination" placeholder="Destination">
          </mat-form-field>


          <mat-form-field appearance="outline" style="margin-right: 10px;">
            <mat-label>Min Amount</mat-label>
            <input matInput type="number" formControlName="price_Range_From" placeholder="Min Amount">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Max Amount</mat-label>
            <input matInput type="number" formControlName="price_Range_To" placeholder="Max Amount">
          </mat-form-field>

          <button mat-button color="primary" (click)="applyFilters()">Apply Filters</button>
          <button mat-button color="warn" (click)="resetFilters()">Reset</button>
        </form>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="limit_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Limit Type</th>
            <td mat-cell *matCellDef="let row">{{ row.limit_Type }}</td>
          </ng-container>

          <ng-container matColumnDef="limit_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Restriction Type</th>
            <td mat-cell *matCellDef="let row">{{ row.restriction_Type }}</td>
          </ng-container>

          <ng-container matColumnDef="airline">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Airline</th>
            <td mat-cell *matCellDef="let row">{{ row.applies_To_Airline }}</td>
          </ng-container>

          <ng-container matColumnDef="destination">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
            <td mat-cell *matCellDef="let row">{{ row.applies_To_Destination }}</td>
          </ng-container>


          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
            <td mat-cell *matCellDef="let row">{{ row.effective_From }}</td>
          </ng-container>

          <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
            <td mat-cell *matCellDef="let row">{{ row.effective_To }}</td>
          </ng-container>


          <ng-container matColumnDef="min-value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Value</th>
            <td mat-cell *matCellDef="let row">{{ row.price_Range_From }}</td>
          </ng-container>

          <ng-container matColumnDef="max-value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Max Value</th>
            <td mat-cell *matCellDef="let row">{{ row.price_Range_To }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="warn" aria-label="Delete" (click)="DeleteLimit(row.id)">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="8">
              No data matching the filter.
            </td>
          </tr>
        </table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of cash records"></mat-paginator>
      </div>
    </div>
  </div>
