<div class="options-panel">
  <div class="option active">
    <div class="option-header">
      <span style="font-size: 14px; font-weight: 500;">Departure</span>
    </div>
    <div class="option-detail-container">
      <span style="font-size: 12px; font-weight: 500;">
        {{ IsDepartureSelected ? 'Selected' : 'Not Selected' }}
      </span>
          </div>
  </div>

  <div class="option">
    <div class="option-header">
      <span style="font-size: 14px; font-weight: 500;">Return</span>
    </div>
    <div class="option-detail-container">
      <span style="font-size: 12px; font-weight: 500;">.......</span>
    </div>
  </div>
</div>
