<div class="booking-component" fxLayout="column">
  <div class="booking-content">
    <div class="search">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Search"
          #input
        />
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.bookingID }}</td>
        </ng-container>

        <!-- Trip Type Column -->
        <ng-container matColumnDef="tripType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trip Type</th>
          <td mat-cell *matCellDef="let row">{{ row.tripType | titlecase }}</td>
        </ng-container>

        <!-- Origin Column -->
        <ng-container matColumnDef="origin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Origin</th>
          <td mat-cell *matCellDef="let row">{{ row.origin }}</td>
        </ng-container>

        <!-- Destination Column -->
        <ng-container matColumnDef="destination">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
          <td mat-cell *matCellDef="let row">{{ row.destination }}</td>
        </ng-container>

        <!-- Passengers Column -->
        <ng-container matColumnDef="passengers">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Passengers</th>
          <td mat-cell *matCellDef="let row">{{ row.passengers }}</td>
        </ng-container>

        <!-- PNR Column -->
        <ng-container matColumnDef="pnr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PNR</th>
          <td mat-cell *matCellDef="let row">{{ row.pnr }}</td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let row">{{ row.amount/310.11 | currency }}</td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">{{ row.bookingDate }}</td>
        </ng-container>

        <!-- time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
          <td mat-cell *matCellDef="let row">{{ row.bookingTime }}</td>
        </ng-container>       

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">
            No booking data available.
          </td>
        </tr>
      </table>

      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of bookings"></mat-paginator>
    </div>
  </div>
</div>
