<h2 mat-dialog-title>Booking Placed</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <p>Your booking has been successfully placed.</p>
  <p>One of our representatives will contact you at the phone number provided during booking for further processing and ticket issuance.</p>
  <p>Thank you for choosing our service!</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Okay</button>
</mat-dialog-actions>
